.lessonListPage{
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 40px auto;
    font-family: Manrope;
}

.lessonListPage p{
    font-size: 20px;
    font-weight: 500;
}
.zametki{
    width: 500px;
    height: 300px;
    border-radius: 4px;
    outline: none;
    padding: 10px;
}
.lessonBtns button{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 6px;
    background-color: #2463EB;
    color: white;
    font-size: 16px;
    transition: all 0.6s ease-in-out;
}
.lessonBtns button:hover{
    cursor: pointer;
    transform: scale(1.03);
    background-color: white;
    color: #2463EB;
    box-shadow: 4px 4px 12px black;
}
.lessonBtns{
    display: flex;
    gap: 30px;
}
.doYouHaveQues{
    width: 150px;
    border: none;
    cursor: pointer;
    transition: all 0.15s ease-out;
}
.doYouHaveQues:hover{
    text-decoration: underline;
    color: #2463EB;
}

.questionBlock textarea{
    width: 250px;
    height: 50px;
    border-radius: 4px;
    outline: none;
}
.questionBlock button{
    width: 120px;
    height: 30px;
    border: 2px solid gray;
    border-radius: 6px;
    transition: all 0.4s ease-out;
}
.questionBlock button:hover{
    background-color: #2463EB;
    border: none;
    color: white;
    cursor: pointer;
}
.questionBlock{
    display: flex;
    align-items: center;
    gap: 20px;
}

@media(max-width:425px){
    .lessonListPage{
        width: 425px;
    }
    .lessonListPage h1{
        font-size: 24px;
    }
    .lessonListPage p{
        font-size: 18px;
    }
    .video{
        width: 370px;
        height: 200px;
    }
    .lessonBtns button{
        width: 130px;
        height: 45px;
        font-size: 14px;
    }
    .zametki{
        width: 300px;
        height: 330px;
    }
    .lessonBtns{
        flex-direction: column;
        gap: 20px;
    }
    .questionBlock{
        flex-direction: column;
        gap: 10px;
    }
}