@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');



*{
  max-width: 1440px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #f1f5f9;
}